body{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}
h2{
    font-size: 200%;
}
h1{
    font-size: 300%;
}
#jack-color{
    color: rgb(174, 23, 116);
}
.hireme{
    color: white;
    border-radius: 5px;
    background-color: rgb(167, 43, 97);
    text-decoration: none;
    padding: 2% 3%;
}
section{
    border: 500px;
    padding-top: 150px;
}
.half{
    width: 40%;
    float: left;
    padding: 2%;
    margin-left: 5%;
}
.half img{
    width: 80%;
}
.top{
    background-image: url("header-bg.png");
    background-repeat: no-repeat;
}
#secHalf{
    padding: 40px;
}
.biography{
    color: aliceblue;
    border-radius: 5px;
    background-image: linear-gradient(45deg , red,rgb(247, 163, 163));
    text-decoration: none;
    padding: 2% 3%;
}
#exp{
    padding-top: 35%;
    text-align: left; 
}
.phosize img{float: left;
    width: 32%;
}
#shade{
    color: rgb(57, 57, 57);
}